<div class="m-4">
  <h1>{{ title }}</h1>
  <form [formGroup]="eventForm" su>
    <div class="form-group" class="mt-4">
      <label for="title">Title</label>
      <input id="title" type="text" class="form-control" formControlName="title" />
      <div style="display: inline-block">
      <label for="frequency" class="mt-2">Frequency</label>
      <select id="frequency" class="form-control" formControlName="frequency">
        <option *ngFor="let freq of freqs | keyvalue" [ngValue]="freq.key">{{freq.value}}</option>
      </select>
      </div>
      <div style="display: inline-block" class="mx-4">
      <label for="interval" class="mt-2">Interval</label>
      <input id="interval" type="number" class="form-control" formControlName="interval" />
      </div>
      <div style="display: inline-block">
        <label for="dateStart" class="mt-2">Date start</label>
        <input id="dateStart" type="date" class="form-control" formControlName="dateStart"/>
      </div>
      <div style="display: inline-block" class="mx-4">
        <input id="allDay" type="checkbox" formControlName="allDay">
        <label for="allDay" class="mx-2">All day</label>
      </div>
      <div style="display: inline-block;" *ngIf="!eventForm.value.allDay">
        <label for="timeStart" class="mt-2">Time start</label>
        <input id="timeStart" type="time" class="form-control" formControlName="timeStart"/>
      </div>
      <br>
      <div>
        <label for="dateUntil" class="mt-2">Date until</label>
        <input id="dateUntil" type="date" class="form-control" formControlName="dateUntil"/>
      </div>
      <div formGroupName="duration" class="my-2" *ngIf="!eventForm.value.allDay">
        <div>Duration:</div>
        <div style="display: inline-block; width: 70px;">
          <label>Days</label>
            <input formControlName="days" type="number" class="form-control">
        </div>
        <div style="display: inline-block; width: 70px;" class="mx-4">
          <label>Hours</label>
            <input formControlName="hours" type="number" class="form-control">
        </div>
        <div style="display: inline-block; width: 70px;">
          <label>Mintues
            <input formControlName="minutes" type="number" class="form-control">
          </label>
        </div>
      </div>
      <div *ngIf="eventForm.value.frequency === 123">
        <div formArrayName="customDays"
          *ngFor="let item of customDays.controls; let i = index">
          <input id="dayNumber-{{ i }}" type="checkbox" [formControlName]="i" class="mx-2">
          <label for="dayNumber-{{ i }}">Day {{ i + 1 }}</label>
        </div>
      </div>
      <div *ngIf="eventForm.value.frequency === 2" formGroupName="weekdays">
        <input id="monday" type="checkbox" formControlName="monday" class="mx-2">
        <label for="monday">Monday</label><br>
        <input id="tuesday" type="checkbox" formControlName="tuesday" class="mx-2">
        <label for="tuesday">Tuesday</label><br>
        <input id="wednesday" type="checkbox" formControlName="wednesday" class="mx-2">
        <label for="wednesday">Wednesday</label><br>
        <input id="thursday" type="checkbox" formControlName="thursday" class="mx-2">
        <label for="thursday">Thursday</label><br>
        <input id="friday" type="checkbox" formControlName="friday" class="mx-2">
        <label for="friday">Friday</label><br>
        <input id="saturday" type="checkbox" formControlName="saturday" class="mx-2">
        <label for="saturday">Saturday</label><br>
        <input id="sunday" type="checkbox" formControlName="sunday" class="mx-2">
        <label for="sunday">Sunday</label>
      </div>
      <button *ngIf="mode === 'create'" type="button" (click)="onCreate()" class="btn btn-primary mt-4" [disabled]="!eventForm.valid">Create</button>
      <div class="flex-container">
        <button *ngIf="mode === 'edit'" type="button" (click)="onUpdate()" class="btn btn-success mt-4"
        [disabled]="!eventForm.valid">Update</button>
        <button *ngIf="mode === 'edit'" type="button" (click)="onDelete()" class="btn btn-danger mt-4"
        [disabled]="!eventForm.valid">Delete</button>
    </div>
    </div>
  </form>
</div>
