<div class="m-4" style="width: 250px">
  <h1>Sign up</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group" class="mt-4">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" formControlName="username" autocomplete="off"/>
      <label for="password" class="mt-2">Password</label>
      <input id="password" type="password" class="form-control" formControlName="password" />
      <label for="email" class="mt-2">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email" autocomplete="off"/>
      <button type="submit" class="btn btn-primary mt-4" [disabled]="!signUpForm.valid">Sign up</button>
      <button routerLink="" type="button" class="btn btn-warning mx-4 mt-4">Go back</button>
    </div>
  </form>
</div>
