<div class="m-4" style="width: 250px" style="align-content: center;">
  <h3>Choose&nbsp;an&nbsp;event&nbsp;to&nbsp;calculate&nbsp;time&nbsp;of</h3>
  <select id="event" class="form-control" [(ngModel)]="chosenEventId" (ngModelChange)="onNgModelChange()">
    <option hidden></option>
    <option *ngFor="let item of eventMap | keyvalue" [ngValue]="item.key">{{item.value.title}}</option>
  </select>

  <div *ngIf="chosenEventId" style="margin-top: 20px;">
    <h4>Total duration:</h4>
    <p>Days: {{ duration?.days }}</p>
    <p>Hours: {{ duration?.hours }}</p>
    <p>Mintues: {{ duration?.minutes }}</p>
  </div>

</div>
