<div class="m-4" style="width: 250px">
  <h1>Update&nbsp;profile</h1>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group" class="mt-4">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" formControlName="username" autocomplete="off"/>
      <label for="password" class="mt-2">Password</label>
      <input id="password" type="password" class="form-control" formControlName="password" />
      <label for="email" class="mt-2">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email" autocomplete="off"/>
      <button type="submit" class="btn btn-success mt-4" [disabled]="!editForm.valid">Update</button>
    </div>
  </form>
</div>
