<div style="position: relative; text-align: right; margin: 16px">
  <button class="btn btn-warning" style="margin-right: 32px" (click)="onEditProfile()">Edit profile</button>
  <button class="btn btn-danger" (click)="onLogout()">Log out</button>
</div>
<full-calendar [options]="calendarOptions"></full-calendar>
