<div class="m-4" style="width: 250px;">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <div class="form-group" class="mt-4">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" formControlName="username" autocomplete="off"/>
      <label for="password" class="mt-2">Password</label>
      <input id="password" type="password"class="form-control" formControlName="password" />
      <button type="button" (click)="onLogin()" class="btn btn-primary mt-4" [disabled]="!loginForm.valid">Login</button>
      <button routerLink="sign-up" type="button" class="btn btn-secondary mx-4 mt-4">Sign up</button>
    </div>
  </form>
</div>
